body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main_div{
    color: black;
    width: 300px;
    padding: 20px;
    border-radius:25px;
    text-align: center;
}